In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.options.display.max_columns = 60
pd.options.display.max_rows = 50

In [3]:
crash_summary = pd.read_csv("../Data/Maryland_Statewide_Vehicle_Crashes.csv", low_memory=False)

In [4]:
crash_summary.shape

(878343, 55)

In [6]:
df_cars = pd.read_csv("../Data/Maryland_Statewide_Vehicle_Crashes_-_Vehicle_Details_All.csv", low_memory=False)

In [7]:
df_cars.shape

(1637937, 49)

In [171]:
df_cars.sample(5)

,HARM_EVENT_DESC,HARM_EVENT_CODE,CONTI_DIRECTION_DESC,CONTI_DIRECTION_CODE,DAMAGE_DESC,DAMAGE_CODE,MOVEMENT_DESC,MOVEMENT_CODE,VIN_NO,REPORT_NO,CV_BODY_TYPE_DESC,CV_BODY_TYPE_CODE,VEH_YEAR,VEH_MAKE,VEH_MODEL,COMMERCIAL_FLAG_DESC,COMMERCIAL_FLAG,HZM_NUM,TOWED_AWAY_FLAG_DESC,TOWED_AWAY_FLAG,NUM_AXLES,GVW_DESC,GVW_CODE,GOING_DIRECTION_DESC,GOING_DIRECTION_CODE,BODY_TYPE_DESC,BODY_TYPE_CODE,DRIVERLESS_FLAG_DESC,DRIVERLESS_FLAG,FIRE_FLAG_DESC,FIRE_FLAG,PARKED_FLAG_DESC,PARKED_FLAG,SPEED_LIMIT,HIT_AND_RUN_FLAG_DESC,HIT_AND_RUN_FLAG,HAZMAT_SPILL_FLAG_DESC,HAZMAT_SPILL_FLAG,VEHICLE_ID,TOWED_VEHICLE_CONFIG_DESC,TOWED_VEHICLE_CONFIG_CODE,AREA_DAMAGED_CODE_IMP1,AREA_DAMAGED_CODE1,AREA_DAMAGED_CODE2,AREA_DAMAGED_CODE3,AREA_DAMAGED_CODE_MAIN_DESC,AREA_DAMAGED_CODE_MAIN,YEAR,Quarter
639316,Other Vehicle,1.0,South,S,Superficial,2,Moving Constant Speed,1.0,4T1CE38P16U614442,AE45380009,NaN,NaN,2006.0,TOYOTA,SOLARA,No,N,NaN,No,N,NaN,NaN,NaN,South,S,Passenger Car,2.0,No,N,No,N,No,N,30,No,N,NaN,NaN,00c2e4fa-47fc-4be1-8948-47a4c94c1d3b,Not Applicable,0,11.0,11.0,NaN,NaN,Eleven o'clock,11.0,2015,Q1
809011,Parked Vehicle,2.0,NaN,NaN,Unknown,99,Parked,10.0,NaN,AE55480024,NaN,NaN,NaN,UNKNOWN,UNKNOWN,No,N,NaN,No,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,N,NaN,U,Yes,Y,0,Yes,Y,NaN,NaN,a5ecb7ab-89e0-4a4e-afbb-74350cfa0b25,Not Applicable,0,99.0,99.0,NaN,NaN,Unknown,99.0,2016,Q3
658738,Pedestrian,3.0,Unknown,U,No Damage,1,Slowing or Stopping,3.0,1HGCD5632VA238984,AE5860000G,NaN,NaN,1997.0,HONDA,CIVIC,No,N,NaN,No,N,NaN,NaN,NaN,Unknown,U,Passenger Car,2.0,No,N,No,N,No,N,5,No,N,NaN,NaN,c780361e-6202-456b-95e3-b224452eaf12,Not Applicable,0,12.0,NaN,NaN,NaN,Twelve o'clock,12.0,2016,Q1
377830,Other Vehicle,1.0,North,N,Superficial,2,Slowing or Stopping,3.0,3N6CM0KN4MK697095,MCP3091003P,NaN,NaN,2021.0,NISSAN,NV200,No,N,NaN,No,N,NaN,NaN,NaN,North,N,Passenger Car,2.0,No,N,No,N,No,N,5,No,N,NaN,NaN,dba5f4c2-6537-424f-b8c1-18b222a31ac8,Not Applicable,0,12.0,12.0,NaN,NaN,Twelve o'clock,12.0,2022,Q2
852872,Parked Vehicle,2.0,NaN,NaN,Superficial,2,Parked,10.0,19UUA56612A009361,AE58470023,NaN,NaN,2002.0,ACURA,TL,No,N,NaN,No,N,NaN,NaN,NaN,NaN,NaN,Passenger Car,2.0,Yes,Y,No,N,Yes,Y,15,No,N,NaN,NaN,3402941d-f2e9-4b6c-8673-634c3fd2258a,Not Applicable,0,1.0,1.0,2.0,3.0,Two o'clock,2.0,2017,Q2

In [8]:
df_people = pd.read_csv("../Data/Maryland_Statewide_Vehicle_Crashes_-_Person_Details__All.csv", low_memory=False)

In [163]:
df_people.sample(5)

,SEX_DESC,SEX_CODE,CONDITION_DESC,CONDITION_CODE,INJ_SEVER_DESC,INJ_SEVER_CODE,REPORT_NO,OCC_SEAT_POS_DESC,OCC_SEAT_POS_CODE,PED_VISIBLE_DESC,PED_VISIBLE_CODE,PED_OBEY_DESC,PED_OBEY_CODE,PED_TYPE_DESC,PED_TYPE_CODE,PED_LOCATION_CODE,MOVEMENT_DESC,MOVEMENT_CODE,PERSON_TYPE_DESC,PERSON_TYPE,ALCOHOL_TEST_DESC,ALCOHOL_TEST_CODE,ALCOHOL_TESTTYPE_DESC,ALCOHOL_TESTTYPE_CODE,DRUG_TEST_DESC,DRUG_TEST_CODE,DRUG_TESTRESULT_DESC,DRUG_TESTRESULT_CODE,BAC_CODE,FAULT_FLAG_DESC,FAULT_FLAG,EQUIP_PROB_DESC,EQUIP_PROB_CODE,SAF_EQUIP_DESC,SAF_EQUIP_CODE,EJECT_DESC,EJECT_CODE,DATE_OF_BIRTH,PERSON_ID,LICENSE_STATE_CODE,CLASS,CDL_FLAG_DESC,CDL_FLAG,VEHICLE_ID,EMS_UNIT_LABEL,AIRBAG_DEPLOYED,YEAR,Quarter
474660,Female,F,NaN,NaN,Possible Incapacitating Injury,3.0,MTA01160009,In Vehicle,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Occupant,O,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Applicable,0.0,Not Applicable,0.0,Not Ejected/Trapped,1.0,28-DEC-92,6c5aceec-db01-4a80-a786-1936bff0f909,NaN,NaN,NaN,NaN,e4f77cbc-ca0e-4b67-ab4b-2237fc7903c2,NaN,NaN,2015,Q1
252779,Male,M,Apparently Normal,1.0,No Injury,1.0,RD0098000R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Driver,D,Not Applicable,0.0,NaN,NaN,Not Applicable,0.0,NaN,NaN,NaN,False,N,No Misuse,1.0,Shoulder/Lap Belt(s),13.0,Not Ejected/Trapped,1.0,29-MAY-74,fe9d9bd4-b81b-4c24-9bd3-95eb7aa43889,MD,NaN,False,False,b0c08c01-37e8-40cd-96f2-19a22fab9eab,NaN,1.0,2016,Q2
998807,Female,F,Had Been Drinking,2.0,No Injury,1.0,AE5782001S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Driver,D,Evidence Test Given,3.0,Breath,1.0,Not Applicable,0.0,NaN,NaN,0.24,True,Y,No Misuse,1.0,Shoulder/Lap Belt(s),13.0,Not Ejected/Trapped,1.0,19760828,aad480d6-ab35-4d4e-a2ae-e8e9fbfcdf13,MD,C,False,False,2e6b872a-de2c-48e1-9b18-a69e75ee09e3,NaN,1.0,2017,Q2
1123703,Female,F,Apparently Normal,1.0,No Injury,1.0,MSP70610017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Driver,D,Not Applicable,0.0,NaN,NaN,Not Applicable,0.0,NaN,NaN,NaN,True,Y,No Misuse,1.0,Shoulder/Lap Belt(s),13.0,Not Ejected/Trapped,1.0,19891225,39305ec5-913a-41ec-a10a-f691724c7aa2,MD,C,False,False,c9e80de7-80e8-4d4b-a41c-be205efa25a3,NaN,1.0,2019,Q2
304862,Male,M,Apparently Normal,1.0,No Injury,1.0,MSP62190083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Driver,D,Not Applicable,0.0,NaN,NaN,Not Applicable,0.0,NaN,NaN,NaN,True,Y,No Misuse,1.0,Shoulder/Lap Belt(s),13.0,Not Ejected/Trapped,1.0,19550727,69786ce6-5af6-4c3d-98c3-e426cba7eedb,MD,C,False,False,ed2c6ab2-e7f8-4079-a8bd-137e082f00ed,NaN,1.0,2018,Q1

In [9]:
df_people.shape

(1970107, 48)

In [10]:
crash_summary.head(2)

,YEAR,QUARTER,LIGHT_DESC,LIGHT_CODE,COUNTY_DESC,COUNTY_NO,MUNI_DESC,MUNI_CODE,JUNCTION_DESC,JUNCTION_CODE,COLLISION_TYPE_DESC,COLLISION_TYPE_CODE,SURF_COND_DESC,SURF_COND_CODE,LANE_CODE,RD_COND_DESC,RD_COND_CODE,RD_DIV_DESC,RD_DIV_CODE,FIX_OBJ_DESC,FIX_OBJ_CODE,REPORT_NO,REPORT_TYPE,WEATHER_DESC,WEATHER_CODE,ACC_DATE,ACC_TIME,LOC_CODE,SIGNAL_FLAG_DESC,SIGNAL_FLAG,C_M_ZONE_FLAG,AGENCY_CODE,AREA_CODE,HARM_EVENT_DESC1,HARM_EVENT_CODE1,HARM_EVENT_DESC2,HARM_EVENT_CODE2,RTE_NO,ROUTE_TYPE_CODE,RTE_SUFFIX,LOG_MILE,LOGMILE_DIR_FLAG_DESC,LOGMILE_DIR_FLAG,MAINROAD_NAME,DISTANCE,FEET_MILES_FLAG_DESC,FEET_MILES_FLAG,DISTANCE_DIR_FLAG,REFERENCE_NO,REFERENCE_TYPE_CODE,REFERENCE_SUFFIX,REFERENCE_ROAD_NAME,LATITUDE,LONGITUDE,LOCATION
0,2020,Q2,Daylight,1.0,Baltimore,3.0,NaN,NaN,NaN,NaN,Other,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Applicable,0.0,AE58770052,Property Damage Crash,Not Applicable,0.00,20200618,15:15:00,NaN,No,N,N,BACOPD,UNK,Parked Vehicle,2.0,Not Applicable,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.277263,-76.503693,POINT (-76.5036932 39.27726285)
1,2022,Q2,Dark Lights On,3.0,Montgomery,15.0,NaN,NaN,NaN,NaN,Other,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Applicable,0.0,MCP2539001Y,Property Damage Crash,NaN,6.01,20220422,22:49:00,55222,No,N,N,MONTGOMERY,UNK,Other Vehicle,1.0,Not Applicable,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.992210,-77.097021,POINT (-77.097020666667 38.9922095)

In [178]:
crash_summary.REPORT_TYPE.value_counts()

Property Damage Crash    550429
Injury Crash             214087
Fatal Crash                3094
Name: REPORT_TYPE, dtype: int64

# Cleaning Crash Summary Data

## Collision Type

Might need a value condition to not have as other for ML maybe less than 1000 (other than where it makes sense to keep like surface condition mud_gravel_dirt)?
Also, might need to remove "non-intersection (best probably from report type)" as values with them come up in places where it doesnt make sense like road conditions, weather description, report type (dependent varaible) etc...

In [11]:
crash_summary.COLLISION_TYPE_DESC.value_counts()

Same Direction Rear End               220954
Single Vehicle                        199060
Other                                 114275
Same Movement Angle                   113803
Same Direction Sideswipe               65944
Head On Left Turn                      38518
Unknown                                21661
Head On                                20186
Same Direction Right Turn              19603
Same Direction Left Turn               19347
Opposite Direction Sideswipe           11765
Not Applicable                          8841
Same Direction Rear End Left Turn       5163
Angle Meets Left Turn                   4556
Same Direction Rear End Right Turn      3505
Same Direction Both Left Turn           3484
Angle Meets Right Turn                  3391
Angle Meets Left Turn Head On           2509
Opposite Direction Both Left Turn       1778
Name: COLLISION_TYPE_DESC, dtype: int64

Possible categories to leave:<br>
Same Direction<br>
Same Movement Angle<br>
Opposite Direction<br>
Angle Meets<br>
Head On<br>
Other - NA, Unknown and Other

In [12]:
#crash_summary.loc[crash_summary.COLLISION_TYPE_DESC == 'Unknown'] = 'Other'
#crash_summary.loc[crash_summary.COLLISION_TYPE_DESC == 'Not Applicable'] = 'Unknown'

In [13]:
crash_summary.COLLISION_TYPE_DESC.value_counts()

Same Direction Rear End               220954
Single Vehicle                        199060
Other                                 114275
Same Movement Angle                   113803
Same Direction Sideswipe               65944
Head On Left Turn                      38518
Unknown                                21661
Head On                                20186
Same Direction Right Turn              19603
Same Direction Left Turn               19347
Opposite Direction Sideswipe           11765
Not Applicable                          8841
Same Direction Rear End Left Turn       5163
Angle Meets Left Turn                   4556
Same Direction Rear End Right Turn      3505
Same Direction Both Left Turn           3484
Angle Meets Right Turn                  3391
Angle Meets Left Turn Head On           2509
Opposite Direction Both Left Turn       1778
Name: COLLISION_TYPE_DESC, dtype: int64

## JUNCTION

In [14]:
crash_summary.JUNCTION_DESC.value_counts()

Non Intersection          305282
Intersection              219733
Not Applicable            149571
Intersection Related       73699
Interchange Related         5227
Commercial Driveway         3075
Crossover Related           1329
Residential Driveway        1262
Alley                        860
Railway Grade Crossing        81
Name: JUNCTION_DESC, dtype: int64

Possible categories to leave:
Maybe all but Other and NA into other

In [15]:
#crash_summary.loc[crash_summary['JUNCTION_DESC'] == 'Not Applicable'] = 'Non Intersection'

In [16]:
crash_summary.JUNCTION_DESC.value_counts()

Non Intersection          305282
Intersection              219733
Not Applicable            149571
Intersection Related       73699
Interchange Related         5227
Commercial Driveway         3075
Crossover Related           1329
Residential Driveway        1262
Alley                        860
Railway Grade Crossing        81
Name: JUNCTION_DESC, dtype: int64

## Light Level

In [17]:
crash_summary.LIGHT_DESC.value_counts()

Daylight                   522916
Dark Lights On             202797
Dark No Lights              63305
Unknown                     14921
Not Applicable              14462
Dusk                         7887
Dawn                         7310
Dark - Unknown Lighting      4818
Other                        2609
Name: LIGHT_DESC, dtype: int64

Possible categories to leave:
Daylight 
Dark ?
Dusk 
Dawn
Other - NA, Unknown, Other

In [18]:
#crash_summary.loc[crash_summary['LIGHT_DESC'] == 'Not Applicable'] = 'Unknown'
#crash_summary.loc[crash_summary['LIGHT_DESC'] == 'Other'] = 'Unknown'

In [19]:
crash_summary.LIGHT_DESC.value_counts()

Daylight                   522916
Dark Lights On             202797
Dark No Lights              63305
Unknown                     14921
Not Applicable              14462
Dusk                         7887
Dawn                         7310
Dark - Unknown Lighting      4818
Other                        2609
Name: LIGHT_DESC, dtype: int64

## Surface Conditions

In [20]:
crash_summary.SURF_COND_DESC.value_counts()

Dry                  582723
Wet                  147619
Not Applicable        33261
Snow                   9180
Ice                    8642
Unknown                6320
Other                   853
Mud, Dirt, Gravel       509
Name: SURF_COND_DESC, dtype: int64

Possible categories to leave:
Dry
Other - NA, Unknown, Other
Non Intersection - special value? Other?
Snow_Ice
Mud_Dirt_gravel

In [21]:
crash_summary.RD_COND_DESC.value_counts()

No Defects                  735408
Not Applicable               40065
Holes, Ruts, Etc.             3658
Other                         3584
Unknown                       3191
Loose Surface Material        2161
Foreign Material              1749
Shoulder Defect                881
View Obstructed                591
Obstruction Not Lighted        147
Obstruction Not Signaled        77
Name: RD_COND_DESC, dtype: int64

Possible categories to leave:
Other - NA, Unknown, Other
Rename - Holes only

In [22]:
crash_summary.RD_DIV_DESC.value_counts()

Two-way, Not Divided                                      310418
Two-way, Divided, Positive Median Barrier                 273421
Two-way, Divided, Unprotected (painted >4 feet) Median     89577
One-way Trafficway                                         70096
Not Applicable                                             22921
Other                                                      18786
Unknown                                                     1638
Name: RD_DIV_DESC, dtype: int64

Possible categories to leave:
Other - NA, Unknown, Other
renames:
two_way_not_divided
two_way_divided_barrier
two_way_divided_no_barrier
one_way

In [23]:
crash_summary.REPORT_TYPE.value_counts(normalize=True)

Property Damage Crash    0.717069
Injury Crash             0.278901
Fatal Crash              0.004031
Name: REPORT_TYPE, dtype: float64

Possible categories to leave:
Unknown - NA, Unknown, Other

## Weather description

In [24]:
crash_summary.WEATHER_DESC.value_counts()

Clear                       197604
Raining                     111589
Not Applicable               85294
Cloudy                       28823
Unknown                       8343
Foggy                         4847
Snow                          4661
Wintry Mix                    3740
Other                         2254
Severe Winds                  1348
Blowing Snow                   994
Sleet                          941
Blowing Sand, Soil, Dirt        39
Name: WEATHER_DESC, dtype: int64

Possible categories to leave:
Other - NA, Unknown, Other, Non Intersection (might have to remove these non-intersection rows)
winter_conditions - sleet, blowing snow, snow, wintry mix

In [25]:
#crash_summary.loc[crash_summary['WEATHER_DESC'] == 'Not Applicable'] = 'Unknown'
#crash_summary.loc[crash_summary['WEATHER_DESC'] == 'Other'] = 'Unknown'

In [26]:
crash_summary.WEATHER_DESC.value_counts()

Clear                       197604
Raining                     111589
Not Applicable               85294
Cloudy                       28823
Unknown                       8343
Foggy                         4847
Snow                          4661
Wintry Mix                    3740
Other                         2254
Severe Winds                  1348
Blowing Snow                   994
Sleet                          941
Blowing Sand, Soil, Dirt        39
Name: WEATHER_DESC, dtype: int64

In [27]:
crash_summary.SIGNAL_FLAG_DESC.value_counts()

No     637192
Yes    241151
Name: SIGNAL_FLAG_DESC, dtype: int64

In [28]:
crash_summary.C_M_ZONE_FLAG.value_counts()

N    866318
Y     11618
U       407
Name: C_M_ZONE_FLAG, dtype: int64

In [29]:
crash_summary.FIX_OBJ_DESC.value_counts()

Not Applicable          643776
Guardrail or Barrier     47255
Curb                     37568
Tree Shrubbery           24685
Other Pole               20104
Light Support Pole       13634
Embankment               12031
Sign Support Pole        11334
Fence                     9590
Building                  8069
Bridge or Overpass        1953
Construction Barrier       711
Crash Attenuator           522
Name: FIX_OBJ_DESC, dtype: int64

In [30]:
crash_summary.HARM_EVENT_DESC1.value_counts()

Other Vehicle                     173427
Fixed Object                       40462
Parked Vehicle                     26151
Off Road                           12777
Not Applicable                      6634
Pedestrian                          6144
Animal                              5997
Other Object                        2528
Overturn                            1476
Bicycle                             1396
Other                               1322
Other Non Collision                 1184
Explosion or Fire                    730
Unknown                              724
Backing                              370
Thrown or Falling Object             349
Fell Jumped from Motor Vehicle       219
Other Conveyance                     200
Spilled Cargo                        187
Other Pedalcycle                     180
Jackknife                            126
Units Separated                       91
Downhill Roadway                      89
U-turn                                59
Immersion                             37
Railway Train                         25
Name: HARM_EVENT_DESC1, dtype: int64

In [31]:
crash_summary.HARM_EVENT_DESC2.value_counts()

Not Applicable                    565439
Other Vehicle                     154686
Fixed Object                       83588
Parked Vehicle                     30447
Off Road                           12987
Overturn                           11452
Other Object                        5285
Pedestrian                          4031
Unknown                             2497
Other                               1958
Animal                               865
Fell Jumped from Motor Vehicle       665
Bicycle                              657
Explosion or Fire                    647
Units Separated                      622
Other Non Collision                  620
Other Conveyance                     386
Backing                              373
Thrown or Falling Object             207
Jackknife                            181
Spilled Cargo                        177
Immersion                            161
Downhill Roadway                     160
Other Pedalcycle                     141
U-turn                                88
Railway Train                         23
Name: HARM_EVENT_DESC2, dtype: int64

Dropping rest except certain that might be good for visualizations, lat/long etc....

# New Summary Dataframe

In [32]:
cols_to_keep_sum = ['REPORT_NO', 'YEAR', 'QUARTER', 'LIGHT_DESC', 'COUNTY_DESC', 'JUNCTION_DESC', 'COLLISION_TYPE_DESC', 'SURF_COND_DESC', 'RD_COND_DESC', 'RD_DIV_DESC', 'FIX_OBJ_DESC', 'WEATHER_DESC', 'ACC_DATE', 'ACC_TIME', 'HARM_EVENT_DESC1', 'HARM_EVENT_DESC2', 'DISTANCE_DIR_FLAG', 'LATITUDE', 'LONGITUDE', 'REPORT_TYPE']

In [33]:
df_crash_sum_clean = crash_summary[cols_to_keep_sum]

In [34]:
df_crash_sum_clean.sample(3)

,REPORT_NO,YEAR,QUARTER,LIGHT_DESC,COUNTY_DESC,JUNCTION_DESC,COLLISION_TYPE_DESC,SURF_COND_DESC,RD_COND_DESC,RD_DIV_DESC,FIX_OBJ_DESC,WEATHER_DESC,ACC_DATE,ACC_TIME,HARM_EVENT_DESC1,HARM_EVENT_DESC2,DISTANCE_DIR_FLAG,LATITUDE,LONGITUDE,REPORT_TYPE
46027,MSP6922005Q,2020,Q3,Dark No Lights,Harford,Non Intersection,Single Vehicle,Wet,No Defects,"Two-way, Divided, Positive Median Barrier",Guardrail or Barrier,Raining,20200926,22:58:00,Off Road,Fixed Object,N,39.575213,-76.132443,Property Damage Crash
251492,ZD6643002D,2019,Q1,Dark Lights On,Calvert,Crossover Related,Same Movement Angle,Dry,No Defects,One-way Trafficway,Not Applicable,Clear,20190126,19:14:00,NaN,Not Applicable,S,38.444957,-76.472852,Property Damage Crash
728439,MSP6562003S,2018,Q1,Not Applicable,Queen Anne's,Intersection,Single Vehicle,Dry,No Defects,"Two-way, Divided, Positive Median Barrier",Guardrail or Barrier,Clear,20180213,12:39:00,NaN,Not Applicable,E,38.981748,-76.157568,Property Damage Crash

In [35]:
df_crash_sum_clean.REPORT_TYPE.value_counts()

Property Damage Crash    550429
Injury Crash             214087
Fatal Crash                3094
Name: REPORT_TYPE, dtype: int64

In [36]:
df_crash_sum_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878343 entries, 0 to 878342
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   REPORT_NO            878343 non-null  object
 1   YEAR                 878343 non-null  int64
 2   QUARTER              878343 non-null  object
 3   LIGHT_DESC           841025 non-null  object
 4   COUNTY_DESC          878329 non-null  object
 5   JUNCTION_DESC        760119 non-null  object
 6   COLLISION_TYPE_DESC  878343 non-null  object
 7   SURF_COND_DESC       789107 non-null  object
 8   RD_COND_DESC         791512 non-null  object
 9   RD_DIV_DESC          786857 non-null  object
 10  FIX_OBJ_DESC         831232 non-null  object
 11  WEATHER_DESC         450477 non-null  object
 12  ACC_DATE             878343 non-null  int64
 13  ACC_TIME             878343 non-null  object
 14  HARM_EVENT_DESC1     282884 non-null  object
 15  HARM_EVENT_DESC2     878343 non-null  object
 16  DISTANCE_DIR_FLAG    788134 non-null  object
 17  LATITUDE             878343 non-null  float64
 18  LONGITUDE            878343 non-null  float64
 19  REPORT_TYPE          767610 non-null  object
dtypes: float64(2), int64(2), object(16)
memory usage: 134.0+ MB

In [37]:
# Filling NaN values with the test 'Unknown'
df_crash_sum_clean = df_crash_sum_clean.fillna('Unknown')

In [38]:
df_crash_sum_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878343 entries, 0 to 878342
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   REPORT_NO            878343 non-null  object
 1   YEAR                 878343 non-null  int64
 2   QUARTER              878343 non-null  object
 3   LIGHT_DESC           878343 non-null  object
 4   COUNTY_DESC          878343 non-null  object
 5   JUNCTION_DESC        878343 non-null  object
 6   COLLISION_TYPE_DESC  878343 non-null  object
 7   SURF_COND_DESC       878343 non-null  object
 8   RD_COND_DESC         878343 non-null  object
 9   RD_DIV_DESC          878343 non-null  object
 10  FIX_OBJ_DESC         878343 non-null  object
 11  WEATHER_DESC         878343 non-null  object
 12  ACC_DATE             878343 non-null  int64
 13  ACC_TIME             878343 non-null  object
 14  HARM_EVENT_DESC1     878343 non-null  object
 15  HARM_EVENT_DESC2     878343 non-null  object
 16  DISTANCE_DIR_FLAG    878343 non-null  object
 17  LATITUDE             878343 non-null  float64
 18  LONGITUDE            878343 non-null  float64
 19  REPORT_TYPE          878343 non-null  object
dtypes: float64(2), int64(2), object(16)
memory usage: 134.0+ MB

In [39]:
df_crash_sum_clean.shape

(878343, 20)

In [40]:
# Removing where report type is unknown

df_crash_sum_clean1 = df_crash_sum_clean.query('REPORT_TYPE != "Unknown"')

In [41]:
df_crash_sum_clean1.shape

(767610, 20)

In [42]:
df_crash_sum_clean1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 767610 entries, 0 to 878342
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   REPORT_NO            767610 non-null  object
 1   YEAR                 767610 non-null  int64
 2   QUARTER              767610 non-null  object
 3   LIGHT_DESC           767610 non-null  object
 4   COUNTY_DESC          767610 non-null  object
 5   JUNCTION_DESC        767610 non-null  object
 6   COLLISION_TYPE_DESC  767610 non-null  object
 7   SURF_COND_DESC       767610 non-null  object
 8   RD_COND_DESC         767610 non-null  object
 9   RD_DIV_DESC          767610 non-null  object
 10  FIX_OBJ_DESC         767610 non-null  object
 11  WEATHER_DESC         767610 non-null  object
 12  ACC_DATE             767610 non-null  int64
 13  ACC_TIME             767610 non-null  object
 14  HARM_EVENT_DESC1     767610 non-null  object
 15  HARM_EVENT_DESC2     767610 non-null  object
 16  DISTANCE_DIR_FLAG    767610 non-null  object
 17  LATITUDE             767610 non-null  float64
 18  LONGITUDE            767610 non-null  float64
 19  REPORT_TYPE          767610 non-null  object
dtypes: float64(2), int64(2), object(16)
memory usage: 123.0+ MB

In [43]:
df_crash_sum_clean1.sample(3)

,REPORT_NO,YEAR,QUARTER,LIGHT_DESC,COUNTY_DESC,JUNCTION_DESC,COLLISION_TYPE_DESC,SURF_COND_DESC,RD_COND_DESC,RD_DIV_DESC,FIX_OBJ_DESC,WEATHER_DESC,ACC_DATE,ACC_TIME,HARM_EVENT_DESC1,HARM_EVENT_DESC2,DISTANCE_DIR_FLAG,LATITUDE,LONGITUDE,REPORT_TYPE
208748,AC2508002W,2022,Q2,Daylight,Anne Arundel,Non Intersection,Opposite Direction Sideswipe,Dry,No Defects,"Two-way, Not Divided",Not Applicable,Unknown,20220520,17:07:00,Other Vehicle,Not Applicable,N,39.174648,-76.601432,Property Damage Crash
252026,AE5716003V,2018,Q1,Unknown,Baltimore,Not Applicable,Other,Unknown,Not Applicable,"Two-way, Not Divided",Not Applicable,Not Applicable,20180102,18:00:00,Unknown,Not Applicable,E,39.411195,-76.608294,Property Damage Crash
294871,ZF0443001P,2016,Q4,Daylight,Carroll,Residential Driveway,Same Movement Angle,Wet,No Defects,"Two-way, Not Divided",Not Applicable,Wintry Mix,20161217,10:47:00,Unknown,Not Applicable,N,39.689143,-76.879452,Fatal Crash

# Cleaning df_crash_sum_clean1 from earlier review

## Light_DESC

In [44]:
df_crash_sum_clean1.LIGHT_DESC.value_counts()

Daylight                   457225
Dark Lights On             177799
Dark No Lights              55006
Unknown                     42310
Not Applicable              12980
Dusk                         7887
Dawn                         7310
Dark - Unknown Lighting      4818
Other                        2275
Name: LIGHT_DESC, dtype: int64

In [45]:
df_crash_sum_clean1['LIGHT_DESC'] = df_crash_sum_clean1['LIGHT_DESC'].replace(['Not Applicable', 'Unknown', 'Other'], 'other')
df_crash_sum_clean1['LIGHT_DESC'] = df_crash_sum_clean1['LIGHT_DESC'].replace(['Dusk', 'Dawn', 'Other'], 'dusk_dawn')

C:\Users\Loken\AppData\Local\Temp\ipykernel_66188\37657236.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_crash_sum_clean1['LIGHT_DESC'] = df_crash_sum_clean1['LIGHT_DESC'].replace(['Not Applicable', 'Unknown', 'Other'], 'other')
C:\Users\Loken\AppData\Local\Temp\ipykernel_66188\37657236.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_crash_sum_clean1['LIGHT_DESC'] = df_crash_sum_clean1['LIGHT_DESC'].replace(['Dusk', 'Dawn', 'Other'], 'dusk_dawn')

In [46]:
df_crash_sum_clean1.LIGHT_DESC.value_counts()

Daylight                   457225
Dark Lights On             177799
other                       57565
Dark No Lights              55006
dusk_dawn                   15197
Dark - Unknown Lighting      4818
Name: LIGHT_DESC, dtype: int64

## Junction_DESC

In [47]:
df_crash_sum_clean1.JUNCTION_DESC.value_counts()

Non Intersection          257248
Intersection              194869
Not Applicable            139339
Unknown                   100660
Intersection Related       63809
Interchange Related         5227
Commercial Driveway         3075
Crossover Related           1329
Residential Driveway        1262
Alley                        711
Railway Grade Crossing        81
Name: JUNCTION_DESC, dtype: int64

In [48]:
df_crash_sum_clean1['JUNCTION_DESC'] = df_crash_sum_clean1['JUNCTION_DESC'].replace(['Not Applicable', 'Unknown', 'Other', 'Railway Grade Crossing'], 'other')
df_crash_sum_clean1['JUNCTION_DESC'] = df_crash_sum_clean1['JUNCTION_DESC'].replace(['Intersection', 'Intersection Related'], 'intersection')

C:\Users\Loken\AppData\Local\Temp\ipykernel_66188\1575565966.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_crash_sum_clean1['JUNCTION_DESC'] = df_crash_sum_clean1['JUNCTION_DESC'].replace(['Not Applicable', 'Unknown', 'Other', 'Railway Grade Crossing'], 'other')
C:\Users\Loken\AppData\Local\Temp\ipykernel_66188\1575565966.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_crash_sum_clean1['JUNCTION_DESC'] = df_crash_sum_clean1['JUNCTION_DESC'].replace(['Intersection', 'Intersection Related'], 'intersection')

In [49]:
df_crash_sum_clean1.JUNCTION_DESC.value_counts()

intersection            258678
Non Intersection        257248
other                   240080
Interchange Related       5227
Commercial Driveway       3075
Crossover Related         1329
Residential Driveway      1262
Alley                      711
Name: JUNCTION_DESC, dtype: int64

## Collision Type

In [50]:
df_crash_sum_clean1.COLLISION_TYPE_DESC.value_counts()

Same Direction Rear End               192793
Single Vehicle                        173977
Other                                 101606
Same Movement Angle                   100062
Same Direction Sideswipe               57740
Head On Left Turn                      33411
Unknown                                18134
Head On                                17762
Same Direction Right Turn              16874
Same Direction Left Turn               16745
Opposite Direction Sideswipe           10064
Not Applicable                          7615
Same Direction Rear End Left Turn       4263
Angle Meets Left Turn                   4020
Same Direction Both Left Turn           2973
Angle Meets Right Turn                  2970
Same Direction Rear End Right Turn      2925
Angle Meets Left Turn Head On           2166
Opposite Direction Both Left Turn       1510
Name: COLLISION_TYPE_DESC, dtype: int64

In [51]:
df_crash_sum_clean1.loc[df_crash_sum_clean1['COLLISION_TYPE_DESC'].isin(['Not Applicable', 'Unknown', 'Other']), 'COLLISION_TYPE_DESC'] = 'other'

In [52]:
df_crash_sum_clean1.loc[df_crash_sum_clean1['COLLISION_TYPE_DESC'].isin(['Same Direction Rear End', 'Same Direction Sideswipe']), 'COLLISION_TYPE_DESC'] = 'same_direction'
df_crash_sum_clean1.loc[df_crash_sum_clean1['COLLISION_TYPE_DESC'].isin(['Same Direction Right Turn', 'Same Direction Left Turn', 'Same Direction Rear End Left Turn', 'Same Direction Both Left Turn', 'Same Direction Rear End Right Turn']), 'COLLISION_TYPE_DESC'] = 'same_direction_turn'
df_crash_sum_clean1.loc[df_crash_sum_clean1['COLLISION_TYPE_DESC'].isin(['Head On Left Turn', 'Head On', 'Angle Meets Left Turn Head On']), 'COLLISION_TYPE_DESC'] = 'head_on'
df_crash_sum_clean1.loc[df_crash_sum_clean1['COLLISION_TYPE_DESC'].isin(['Angle Meets Left Turn', 'Angle Meets Right Turn', 'Same Movement Angle']), 'COLLISION_TYPE_DESC'] = 'angle_meets_misc'
df_crash_sum_clean1.loc[df_crash_sum_clean1['COLLISION_TYPE_DESC'].isin(['Opposite Direction Sideswipe', 'Opposite Direction Both Left Turn']), 'COLLISION_TYPE_DESC'] = 'opposite_direction'

In [53]:
df_crash_sum_clean1.COLLISION_TYPE_DESC.value_counts()

same_direction         250533
Single Vehicle         173977
other                  127355
angle_meets_misc       107052
head_on                 53339
same_direction_turn     43780
opposite_direction      11574
Name: COLLISION_TYPE_DESC, dtype: int64

## SURF COND

In [54]:
df_crash_sum_clean1.SURF_COND_DESC.value_counts()

Dry                  512606
Wet                  129494
Unknown               81405
Not Applicable        29276
Snow                   7130
Ice                    6593
Other                   675
Mud, Dirt, Gravel       431
Name: SURF_COND_DESC, dtype: int64

In [55]:
df_crash_sum_clean1.loc[df_crash_sum_clean1['SURF_COND_DESC'].isin(['Not Applicable', 'Unknown', 'Other', 'Mud, Dirt, Gravel']), 'SURF_COND_DESC'] = 'other'
df_crash_sum_clean1.loc[df_crash_sum_clean1['SURF_COND_DESC'].isin(['Snow', 'Ice']), 'SURF_COND_DESC'] = 'extreme_winter_surf'

In [56]:
#df_crash_sum_clean1['SURF_COND_DESC'] = df_crash_sum_clean1['SURF_COND_DESC'].replace('(Sport) Utility Vehicle', 'suv')

In [57]:
df_crash_sum_clean1.SURF_COND_DESC.value_counts()

Dry                    512606
Wet                    129494
other                  111787
extreme_winter_surf     13723
Name: SURF_COND_DESC, dtype: int64

## RD_COND_DESC

In [58]:
df_crash_sum_clean1.RD_COND_DESC.value_counts()

No Defects                  644551
Unknown                      76934
Not Applicable               35363
Holes, Ruts, Etc.             3093
Other                         3014
Loose Surface Material        1789
Foreign Material              1411
Shoulder Defect                719
View Obstructed                531
Obstruction Not Lighted        134
Obstruction Not Signaled        71
Name: RD_COND_DESC, dtype: int64

In [59]:
df_crash_sum_clean1.loc[df_crash_sum_clean1['RD_COND_DESC'].isin(['Not Applicable', 'Unknown', 'Other', 'Obstruction Not Signaled', 'Obstruction Not Lighted', 'View Obstructed', 'Shoulder Defect']), 'RD_COND_DESC'] = 'other'

In [60]:
df_crash_sum_clean1.loc[df_crash_sum_clean1['RD_COND_DESC'] == 'Holes, Ruts, Etc.', 'RD_COND_DESC'] = 'holes'

In [61]:
df_crash_sum_clean1.RD_COND_DESC.value_counts()

No Defects                644551
other                     116766
holes                       3093
Loose Surface Material      1789
Foreign Material            1411
Name: RD_COND_DESC, dtype: int64

## RD_DIV_DESC

In [62]:
df_crash_sum_clean1.RD_DIV_DESC.value_counts()

Two-way, Not Divided                                      269717
Two-way, Divided, Positive Median Barrier                 241534
Unknown                                                    79546
Two-way, Divided, Unprotected (painted >4 feet) Median     79435
One-way Trafficway                                         60886
Not Applicable                                             19954
Other                                                      16538
Name: RD_DIV_DESC, dtype: int64

In [63]:
df_crash_sum_clean1.loc[df_crash_sum_clean1['RD_DIV_DESC'].isin(['Not Applicable', 'Unknown', 'Other']), 'RD_DIV_DESC'] = 'other'
#df_crash_sum_clean1.loc[df_crash_sum_clean1['RD_DIV_DESC'].isin(['Not Applicable', 'Unknown', 'Other']), 'RD_DIV_DESC'] = 'other'
#df_crash_sum_clean1.loc[df_crash_sum_clean1['RD_DIV_DESC'].isin(['Not Applicable', 'Unknown', 'Other']), 'RD_DIV_DESC'] = 'other'

In [64]:
df_crash_sum_clean1.loc[df_crash_sum_clean1['RD_DIV_DESC'] == 'Two-way, Not Divided', 'RD_DIV_DESC'] = 'two_way_no_div'
df_crash_sum_clean1.loc[df_crash_sum_clean1['RD_DIV_DESC'] == 'Two-way, Divided, Positive Median Barrier', 'RD_DIV_DESC'] = 'two_way_div'
df_crash_sum_clean1.loc[df_crash_sum_clean1['RD_DIV_DESC'] == 'Two-way, Divided, Unprotected (painted >4 feet) Median', 'RD_DIV_DESC'] = 'two_way_div_paint'
df_crash_sum_clean1.loc[df_crash_sum_clean1['RD_DIV_DESC'] == 'One-way Trafficway', 'RD_DIV_DESC'] = 'one_way'

In [65]:
df_crash_sum_clean1.RD_DIV_DESC.value_counts()

two_way_no_div       269717
two_way_div          241534
other                116038
two_way_div_paint     79435
one_way               60886
Name: RD_DIV_DESC, dtype: int64

## FIX_OBJ_DESC

In [66]:
df_crash_sum_clean1.FIX_OBJ_DESC.value_counts()

Not Applicable          561761
Guardrail or Barrier     41798
Unknown                  41599
Curb                     33224
Tree Shrubbery           21374
Other Pole               17522
Light Support Pole       11913
Embankment               10289
Sign Support Pole         9871
Fence                     8391
Building                  7080
Bridge or Overpass        1679
Construction Barrier       626
Crash Attenuator           483
Name: FIX_OBJ_DESC, dtype: int64

In [67]:
df_crash_sum_clean1.loc[df_crash_sum_clean1['FIX_OBJ_DESC'].isin(['Guardrail or Barrier', 'Construction Barrier', 'Fence']), 'FIX_OBJ_DESC'] = 'barrier'
df_crash_sum_clean1.loc[df_crash_sum_clean1['FIX_OBJ_DESC'].isin(['Unknown', 'Crash Attenuator']), 'FIX_OBJ_DESC'] = 'other'
df_crash_sum_clean1.loc[df_crash_sum_clean1['FIX_OBJ_DESC'].isin(['Light Support Pole', 'Sign Support Pole', 'Other Pole']), 'FIX_OBJ_DESC'] = 'pole'

In [68]:
df_crash_sum_clean1.FIX_OBJ_DESC.value_counts()

Not Applicable        561761
barrier                50815
other                  42082
pole                   39306
Curb                   33224
Tree Shrubbery         21374
Embankment             10289
Building                7080
Bridge or Overpass      1679
Name: FIX_OBJ_DESC, dtype: int64

## Weather

In [69]:
df_crash_sum_clean1.WEATHER_DESC.value_counts()

Unknown                     351982
Clear                       197604
Raining                      97931
Not Applicable               74654
Cloudy                       28823
Snow                          4661
Foggy                         4140
Wintry Mix                    2998
Other                         1949
Severe Winds                  1216
Sleet                          941
Blowing Snow                   687
Blowing Sand, Soil, Dirt        24
Name: WEATHER_DESC, dtype: int64

In [70]:
df_crash_sum_clean1.loc[df_crash_sum_clean1['WEATHER_DESC'].isin(['Not Applicable', 'Unknown', 'Other', 'Blowing Sand, Soil, Dirt']), 'WEATHER_DESC'] = 'other'
df_crash_sum_clean1.loc[df_crash_sum_clean1['WEATHER_DESC'].isin(['Snow', 'Wintry Mix', 'Sleet', 'Blowing Snow']), 'WEATHER_DESC'] = 'winter_conditions'
#df_crash_sum_clean1.loc[df_crash_sum_clean1['WEATHER_DESC'].isin(['Not Applicable', 'Unknown', 'Other']), 'WEATHER_DESC'] = 'other'
#df_crash_sum_clean1.loc[df_crash_sum_clean1['WEATHER_DESC'].isin(['Not Applicable', 'Unknown', 'Other']), 'WEATHER_DESC'] = 'other'
#df_crash_sum_clean1.loc[df_crash_sum_clean1['WEATHER_DESC'].isin(['Not Applicable', 'Unknown', 'Other']), 'WEATHER_DESC'] = 'other'
#df_crash_sum_clean1.loc[df_crash_sum_clean1['WEATHER_DESC'].isin(['Not Applicable', 'Unknown', 'Other']), 'WEATHER_DESC'] = 'other'

In [71]:
df_crash_sum_clean1.WEATHER_DESC.value_counts()

other                428609
Clear                197604
Raining               97931
Cloudy                28823
winter_conditions      9287
Foggy                  4140
Severe Winds           1216
Name: WEATHER_DESC, dtype: int64

## Checking Harm Events

In [72]:
df_crash_sum_clean1.HARM_EVENT_DESC1.value_counts()

Unknown                           485450
Other Vehicle                     173427
Fixed Object                       40462
Parked Vehicle                     26151
Off Road                           12777
Not Applicable                      6634
Pedestrian                          6144
Animal                              5997
Other Object                        2528
Overturn                            1476
Bicycle                             1396
Other                               1322
Other Non Collision                 1184
Explosion or Fire                    730
Backing                              370
Thrown or Falling Object             349
Fell Jumped from Motor Vehicle       219
Other Conveyance                     200
Spilled Cargo                        187
Other Pedalcycle                     180
Jackknife                            126
Units Separated                       91
Downhill Roadway                      89
U-turn                                59
Immersion                             37
Railway Train                         25
Name: HARM_EVENT_DESC1, dtype: int64

In [73]:
df_crash_sum_clean1.loc[df_crash_sum_clean1['HARM_EVENT_DESC1'].isin(['Railway Train', 'Unknown', 'Other', 'Immersion', 'U-turn', 'Downhill Roadway', 'Units Separated', 'Jackknife', 'Other Pedalcycle', 'Spilled Cargo', 'Other Conveyance', 'Fell Jumped from Motor Vehicle', 'Thrown or Falling Object', 'Backing', 'Explosion or Fire', 'Other Non Collision', 'Other Object']), 'HARM_EVENT_DESC1'] = 'other'
#df_crash_sum_clean1.loc[df_crash_sum_clean1['HARM_EVENT_DESC1'].isin(['Not Applicable', 'Unknown', 'Other', 'Blowing Sand, Soil, Dirt']), 'HARM_EVENT_DESC1'] = 'other'

In [74]:
df_crash_sum_clean1.HARM_EVENT_DESC2.value_counts()

Not Applicable                    493411
Other Vehicle                     136646
Fixed Object                       72752
Parked Vehicle                     26110
Off Road                           11621
Overturn                            9991
Other Object                        4539
Pedestrian                          3526
Unknown                             2158
Other                               1730
Animal                               740
Explosion or Fire                    580
Fell Jumped from Motor Vehicle       579
Bicycle                              563
Other Non Collision                  517
Units Separated                      502
Other Conveyance                     320
Backing                              307
Thrown or Falling Object             184
Jackknife                            165
Spilled Cargo                        162
Immersion                            149
Downhill Roadway                     143
Other Pedalcycle                     125
U-turn                                68
Railway Train                         22
Name: HARM_EVENT_DESC2, dtype: int64

In [75]:
df_crash_sum_clean1.loc[df_crash_sum_clean1['HARM_EVENT_DESC2'].isin(['Railway Train', 'U-turn', 'Other Pedalcycle', 'Downhill Roadway', 'Immersion', 'Spilled Cargo', 'Jackknife', 'Thrown or Falling Object', 'Backing', 'Other Conveyance', 'Units Separated', 'Other Non Collision', 'Bicycle', 'Fell Jumped from Motor Vehicle', 'Explosion or Fire', 'Animal', 'Other', 'Unknown']), 'HARM_EVENT_DESC2'] = 'other'
#df_crash_sum_clean1.loc[df_crash_sum_clean1['HARM_EVENT_DESC1'].isin(['Not Applicable', 'Unknown', 'Other', 'Blowing Sand, Soil, Dirt']), 'HARM_EVENT_DESC1'] = 'other'

In [76]:
df_crash_sum_clean1.HARM_EVENT_DESC1.value_counts()

other             493146
Other Vehicle     173427
Fixed Object       40462
Parked Vehicle     26151
Off Road           12777
Not Applicable      6634
Pedestrian          6144
Animal              5997
Overturn            1476
Bicycle             1396
Name: HARM_EVENT_DESC1, dtype: int64

In [77]:
df_crash_sum_clean1.HARM_EVENT_DESC2.value_counts()

Not Applicable    493411
Other Vehicle     136646
Fixed Object       72752
Parked Vehicle     26110
Off Road           11621
Overturn            9991
other               9014
Other Object        4539
Pedestrian          3526
Name: HARM_EVENT_DESC2, dtype: int64

## DIS DIR FLAG

In [78]:
df_crash_sum_clean1.DISTANCE_DIR_FLAG.value_counts()

N          261638
S          168513
E          157836
W           99321
Unknown     74158
U            6144
Name: DISTANCE_DIR_FLAG, dtype: int64

In [79]:
df_crash_sum_clean1.loc[df_crash_sum_clean1['DISTANCE_DIR_FLAG'].isin(['U', 'Unknown']), 'DISTANCE_DIR_FLAG'] = 'U'

In [80]:
df_crash_sum_clean1.DISTANCE_DIR_FLAG.value_counts()

N    261638
S    168513
E    157836
W     99321
U     80302
Name: DISTANCE_DIR_FLAG, dtype: int64

# Vehicle DF

In [81]:
df_cars.sample(3)

,HARM_EVENT_DESC,HARM_EVENT_CODE,CONTI_DIRECTION_DESC,CONTI_DIRECTION_CODE,DAMAGE_DESC,DAMAGE_CODE,MOVEMENT_DESC,MOVEMENT_CODE,VIN_NO,REPORT_NO,CV_BODY_TYPE_DESC,CV_BODY_TYPE_CODE,VEH_YEAR,VEH_MAKE,VEH_MODEL,COMMERCIAL_FLAG_DESC,COMMERCIAL_FLAG,HZM_NUM,TOWED_AWAY_FLAG_DESC,TOWED_AWAY_FLAG,NUM_AXLES,GVW_DESC,GVW_CODE,GOING_DIRECTION_DESC,GOING_DIRECTION_CODE,BODY_TYPE_DESC,BODY_TYPE_CODE,DRIVERLESS_FLAG_DESC,DRIVERLESS_FLAG,FIRE_FLAG_DESC,FIRE_FLAG,PARKED_FLAG_DESC,PARKED_FLAG,SPEED_LIMIT,HIT_AND_RUN_FLAG_DESC,HIT_AND_RUN_FLAG,HAZMAT_SPILL_FLAG_DESC,HAZMAT_SPILL_FLAG,VEHICLE_ID,TOWED_VEHICLE_CONFIG_DESC,TOWED_VEHICLE_CONFIG_CODE,AREA_DAMAGED_CODE_IMP1,AREA_DAMAGED_CODE1,AREA_DAMAGED_CODE2,AREA_DAMAGED_CODE3,AREA_DAMAGED_CODE_MAIN_DESC,AREA_DAMAGED_CODE_MAIN,YEAR,Quarter
1321889,Other Vehicle,1.0,West,W,Superficial,2,Slowing or Stopping,3.0,2GNFLEE5XC6366473,AC1918004J,NaN,NaN,2012.0,CHEV,TK,No,N,NaN,No,N,NaN,NaN,NaN,South,S,Passenger Car,2.0,No,N,No,N,No,N,45,No,N,NaN,NaN,1bd4e2a2-d7d0-4996-95ff-16f26c2e4454,Not Applicable,0,12.0,12.0,NaN,NaN,Twelve o'clock,12.0,2018,Q1
575737,Other Vehicle,1.0,North,N,Superficial,2,Slowing or Stopping,3.0,4T1BF3EK3BU640262,MCP2556000X,NaN,NaN,2011.0,TOYT,4S,No,N,NaN,No,N,NaN,NaN,NaN,West,W,Passenger Car,2.0,No,N,No,N,No,N,25,No,N,NaN,NaN,c6fcd5c4-73b1-42a7-ad89-a1bee1f2d041,Not Applicable,0,6.0,6.0,NaN,NaN,Six o'clock,6.0,2016,Q4
1166459,Other Vehicle,1.0,South,S,Disabling,4,Making Left Turn,12.0,5NPDH4AE4GH687265,AE5532004T,NaN,NaN,2016.0,HYUN,ELANTRA,No,N,NaN,Yes,Y,NaN,NaN,NaN,South,S,Passenger Car,2.0,No,N,NaN,NaN,No,N,15,No,N,NaN,NaN,796a32f6-9808-47e2-8a5a-e2112f613fc1,Not Applicable,0,10.0,8.0,9.0,10.0,Nine o'clock,9.0,2018,Q4

# New Vehicle DF to Clean

In [82]:
cols_to_keep_cars = ['REPORT_NO', 'VEH_MAKE', 'DAMAGE_DESC', 'COMMERCIAL_FLAG', 'BODY_TYPE_DESC', 'FIRE_FLAG', 'PARKED_FLAG', 'SPEED_LIMIT', 'HIT_AND_RUN_FLAG', 'MOVEMENT_DESC']

In [83]:
df_cars_clean = df_cars[cols_to_keep_cars]

In [84]:
df_cars_clean.head(3)

,REPORT_NO,VEH_MAKE,DAMAGE_DESC,COMMERCIAL_FLAG,BODY_TYPE_DESC,FIRE_FLAG,PARKED_FLAG,SPEED_LIMIT,HIT_AND_RUN_FLAG,MOVEMENT_DESC
0,AE5057004X,UNKNOWN,Unknown,N,NaN,N,N,25,Y,Unknown
1,MSP7221001P,TOYOTA,Superficial,N,Passenger Car,N,N,55,N,Moving Constant Speed
2,DA37010040,CHEVROLET,Functional,N,(Sport) Utility Vehicle,N,N,30,N,Stopped in Traffic Lane

In [85]:
df_cars_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1637937 entries, 0 to 1637936
Data columns (total 10 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   REPORT_NO         1637937 non-null  object
 1   VEH_MAKE          1637606 non-null  object
 2   DAMAGE_DESC       1637937 non-null  object
 3   COMMERCIAL_FLAG   1637937 non-null  object
 4   BODY_TYPE_DESC    1575807 non-null  object
 5   FIRE_FLAG         1377541 non-null  object
 6   PARKED_FLAG       1637937 non-null  object
 7   SPEED_LIMIT       1637937 non-null  int64
 8   HIT_AND_RUN_FLAG  1637937 non-null  object
 9   MOVEMENT_DESC     1637937 non-null  object
dtypes: int64(1), object(9)
memory usage: 125.0+ MB

In [86]:
df_cars_clean = df_cars_clean.fillna('Unknown')

In [87]:
df_cars_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1637937 entries, 0 to 1637936
Data columns (total 10 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   REPORT_NO         1637937 non-null  object
 1   VEH_MAKE          1637937 non-null  object
 2   DAMAGE_DESC       1637937 non-null  object
 3   COMMERCIAL_FLAG   1637937 non-null  object
 4   BODY_TYPE_DESC    1637937 non-null  object
 5   FIRE_FLAG         1637937 non-null  object
 6   PARKED_FLAG       1637937 non-null  object
 7   SPEED_LIMIT       1637937 non-null  int64
 8   HIT_AND_RUN_FLAG  1637937 non-null  object
 9   MOVEMENT_DESC     1637937 non-null  object
dtypes: int64(1), object(9)
memory usage: 125.0+ MB

In [88]:
df_cars_clean.head(3)

,REPORT_NO,VEH_MAKE,DAMAGE_DESC,COMMERCIAL_FLAG,BODY_TYPE_DESC,FIRE_FLAG,PARKED_FLAG,SPEED_LIMIT,HIT_AND_RUN_FLAG,MOVEMENT_DESC
0,AE5057004X,UNKNOWN,Unknown,N,Unknown,N,N,25,Y,Unknown
1,MSP7221001P,TOYOTA,Superficial,N,Passenger Car,N,N,55,N,Moving Constant Speed
2,DA37010040,CHEVROLET,Functional,N,(Sport) Utility Vehicle,N,N,30,N,Stopped in Traffic Lane

## DAMGE DESC

In [89]:
df_cars_clean.DAMAGE_DESC.value_counts()

Disabling         570427
Superficial       409298
Functional        404260
Unknown           108030
Destroyed          89733
No Damage          46419
Not Applicable      8194
Other               1576
Name: DAMAGE_DESC, dtype: int64

Consolidate into Other - NA, Other, and Unknown

In [90]:
df_cars_clean['DAMAGE_DESC'] = df_cars_clean['DAMAGE_DESC'].replace(['Not Applicable', 'Unknown', 'Other'], 'Other')

In [91]:
df_cars_clean.DAMAGE_DESC.value_counts()

Disabling      570427
Superficial    409298
Functional     404260
Other          117800
Destroyed       89733
No Damage       46419
Name: DAMAGE_DESC, dtype: int64

## MOVE DESC

In [92]:
df_cars_clean.MOVEMENT_DESC.value_counts()

Moving Constant Speed        652817
Slowing or Stopping          218163
Parked                       174823
Stopped in Traffic Lane      113238
Accelerating                  98710
Making Left Turn              96963
Unknown                       49337
Backing                       40408
Changing Lanes                35027
Making Right Turn             32109
Starting From Lane            28314
Starting From Parked          16583
Not Applicable                13155
Parking                       12786
Skidding                      12238
Making U Turn                  8541
Passing                        7957
Other                          7509
Negotiating a Curve            7311
Entering Traffic Lane          6187
Leaving Traffic Lane           3473
Driverless Moving Vehicle      1175
Right Turn on Red              1113
Name: MOVEMENT_DESC, dtype: int64

In [93]:
df_cars_clean.MOVEMENT_DESC.nunique()

23

Consolidate:
The same into Other - NA, Unknown and Other
Changing lanes - Entering, Leaving and Changing lanes
Turning not red - Making Right/Left Turn
???

In [94]:
df_cars_clean['MOVEMENT_DESC'] = df_cars_clean['MOVEMENT_DESC'].replace(['Not Applicable', 'Unknown', 'Other'], 'other')
df_cars_clean['MOVEMENT_DESC'] = df_cars_clean['MOVEMENT_DESC'].replace(['Entering Traffic Lane', 'Passing', 'Leaving Traffic Lane', 'Changing Lanes'], 'changing_lanes')
df_cars_clean['MOVEMENT_DESC'] = df_cars_clean['MOVEMENT_DESC'].replace(['Making Left Turn', 'Making Right Turn', 'Making U Turn'], 'turn_left_right_u')
df_cars_clean['MOVEMENT_DESC'] = df_cars_clean['MOVEMENT_DESC'].replace(['Parked', 'Stopped in Traffic Lane'], 'not_in_motion')
df_cars_clean['MOVEMENT_DESC'] = df_cars_clean['MOVEMENT_DESC'].replace(['Starting From Lane', 'Starting From Parked', 'Parking'], 'slow_in_motion')

In [95]:
df_cars_clean['MOVEMENT_DESC'].value_counts()

Moving Constant Speed        652817
not_in_motion                288061
Slowing or Stopping          218163
turn_left_right_u            137613
Accelerating                  98710
other                         70001
slow_in_motion                57683
changing_lanes                52644
Backing                       40408
Skidding                      12238
Negotiating a Curve            7311
Driverless Moving Vehicle      1175
Right Turn on Red              1113
Name: MOVEMENT_DESC, dtype: int64

In [96]:
df_cars_clean.MOVEMENT_DESC.nunique()

13

## Body Type

In [97]:
df_cars_clean['BODY_TYPE_DESC'].value_counts()

Passenger Car                                                    1048614
(Sport) Utility Vehicle                                           179455
Pickup Truck                                                      102186
Unknown                                                            89077
Van                                                                50457
Other                                                              18811
Truck Tractor                                                      15918
Cargo Van/Light Truck 2 axles (10,000 lbs (4,536 kg) or less)      15824
Other Light Trucks (10,000 lbs (4,536 kg))                         15343
Medium/Heavy Truck 2 axles (10,000 lbs (4,536 kg) or less)         12848
Police Vehicle/Non Emergency                                       12405
Police Vehicle/Emergency                                           12285
School Bus                                                         11300
Transit Bus                                                        11166
Motorcycle                                                         11025
Station Wagon                                                       6300
Recreational Vehicle                                                4450
Ambulance/Emergency                                                 4211
Not Applicable                                                      2945
Fire Vehicle/Emergency                                              2718
Other Bus                                                           2430
Ambulance/Non Emergency                                             1446
All Terrain Vehicle (ATV)                                           1412
Moped                                                               1377
Fire Vehicle/Non Emergency                                          1128
Low Speed Vehicle                                                   1115
Snowmobile                                                           989
Farm Vehicle                                                         387
Cross Country Bus                                                    165
Limousine                                                            150
Name: BODY_TYPE_DESC, dtype: int64

In [98]:
df_cars_clean['BODY_TYPE_DESC'] = df_cars_clean['BODY_TYPE_DESC'].fillna('unknown')

# Convert 'BODY_TYPE_DESC' column to string data type
df_cars_clean['BODY_TYPE_DESC'] = df_cars_clean['BODY_TYPE_DESC'].astype(str)

In [99]:
# Consolidating Categories

df_cars_clean['BODY_TYPE_DESC'] = df_cars_clean['BODY_TYPE_DESC'].replace(['Not Applicable', 'Unknown', 'Other', 'Limousine', 'Farm Vehicle', 'Low Speed Vehicle', 'Recreational Vehicle'], 'other')
df_cars_clean['BODY_TYPE_DESC'] = df_cars_clean['BODY_TYPE_DESC'].replace(['Other Bus', 'Transit Bus', 'Cross Country Bus'], 'other_bus')
df_cars_clean['BODY_TYPE_DESC'] = df_cars_clean['BODY_TYPE_DESC'].replace(['Snowmobile', 'Moped', 'All Terrain Vehicle (ATV)'], 'small_vehicle')
df_cars_clean['BODY_TYPE_DESC'] = df_cars_clean['BODY_TYPE_DESC'].replace(['Police Vehicle/Non Emergency', 'Ambulance/Non Emergency', 'Fire Vehicle/Non Emergency'], 'em_vehicle_non_emergency')
df_cars_clean['BODY_TYPE_DESC'] = df_cars_clean['BODY_TYPE_DESC'].replace(['Ambulance/Emergency', 'Fire Vehicle/Emergency', 'Police Vehicle/Emergency'], 'em_vehicle')
df_cars_clean['BODY_TYPE_DESC'] = df_cars_clean['BODY_TYPE_DESC'].replace(['Cargo Van/Light Truck 2 axles (10,000 lbs (4,536 kg) or less)', 'Other Light Trucks (10,000 lbs (4,536 kg))', 'Medium/Heavy Truck 2 axles (10,000 lbs (4,536 kg) or less)', 'Truck Tractor'], 'comm_truck')
df_cars_clean['BODY_TYPE_DESC'] = df_cars_clean['BODY_TYPE_DESC'].replace(['Passenger Car', 'Station Wagon', 'Other'], 'passenger_car')

In [100]:
# Renaming SUV
df_cars_clean['BODY_TYPE_DESC'] = df_cars_clean['BODY_TYPE_DESC'].replace('(Sport) Utility Vehicle', 'suv')

In [101]:
df_cars_clean.BODY_TYPE_DESC.value_counts()

passenger_car               1054914
suv                          179455
other                        116935
Pickup Truck                 102186
comm_truck                    59933
Van                           50457
em_vehicle                    19214
em_vehicle_non_emergency      14979
other_bus                     13761
School Bus                    11300
Motorcycle                    11025
small_vehicle                  3778
Name: BODY_TYPE_DESC, dtype: int64

In [102]:
df_cars_clean.BODY_TYPE_DESC.nunique()

12

In [103]:
df_cars_clean['MOVEMENT_DESC'].value_counts()

Moving Constant Speed        652817
not_in_motion                288061
Slowing or Stopping          218163
turn_left_right_u            137613
Accelerating                  98710
other                         70001
slow_in_motion                57683
changing_lanes                52644
Backing                       40408
Skidding                      12238
Negotiating a Curve            7311
Driverless Moving Vehicle      1175
Right Turn on Red              1113
Name: MOVEMENT_DESC, dtype: int64

In [104]:
df_cars_clean.BODY_TYPE_DESC.value_counts()

passenger_car               1054914
suv                          179455
other                        116935
Pickup Truck                 102186
comm_truck                    59933
Van                           50457
em_vehicle                    19214
em_vehicle_non_emergency      14979
other_bus                     13761
School Bus                    11300
Motorcycle                    11025
small_vehicle                  3778
Name: BODY_TYPE_DESC, dtype: int64

In [105]:
df_cars_clean.DAMAGE_DESC.value_counts()

Disabling      570427
Superficial    409298
Functional     404260
Other          117800
Destroyed       89733
No Damage       46419
Name: DAMAGE_DESC, dtype: int64

# Combining df_cars_clean with

In [106]:
df_crash_sum_clean1.nunique()

REPORT_NO              767606
YEAR                        7
QUARTER                     4
LIGHT_DESC                  6
COUNTY_DESC                25
JUNCTION_DESC               8
COLLISION_TYPE_DESC         7
SURF_COND_DESC              4
RD_COND_DESC                5
RD_DIV_DESC                 5
FIX_OBJ_DESC                9
WEATHER_DESC                7
ACC_DATE                 2557
ACC_TIME                 1490
HARM_EVENT_DESC1           10
HARM_EVENT_DESC2            9
DISTANCE_DIR_FLAG           5
LATITUDE               680152
LONGITUDE              677958
REPORT_TYPE                 3
dtype: int64

In [107]:
df_cars_clean.nunique()

REPORT_NO           878118
VEH_MAKE              8713
DAMAGE_DESC              6
COMMERCIAL_FLAG          2
BODY_TYPE_DESC          12
FIRE_FLAG                4
PARKED_FLAG              2
SPEED_LIMIT             16
HIT_AND_RUN_FLAG         3
MOVEMENT_DESC           13
dtype: int64

In [108]:
df_cars_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1637937 entries, 0 to 1637936
Data columns (total 10 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   REPORT_NO         1637937 non-null  object
 1   VEH_MAKE          1637937 non-null  object
 2   DAMAGE_DESC       1637937 non-null  object
 3   COMMERCIAL_FLAG   1637937 non-null  object
 4   BODY_TYPE_DESC    1637937 non-null  object
 5   FIRE_FLAG         1637937 non-null  object
 6   PARKED_FLAG       1637937 non-null  object
 7   SPEED_LIMIT       1637937 non-null  int64
 8   HIT_AND_RUN_FLAG  1637937 non-null  object
 9   MOVEMENT_DESC     1637937 non-null  object
dtypes: int64(1), object(9)
memory usage: 125.0+ MB

## Merge Practice

In [109]:
df_summary_cars = pd.merge(df_crash_sum_clean1, df_cars_clean, how = 'inner', on='REPORT_NO')

In [110]:
df_summary_cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1433130 entries, 0 to 1433129
Data columns (total 29 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   REPORT_NO            1433130 non-null  object
 1   YEAR                 1433130 non-null  int64
 2   QUARTER              1433130 non-null  object
 3   LIGHT_DESC           1433130 non-null  object
 4   COUNTY_DESC          1433130 non-null  object
 5   JUNCTION_DESC        1433130 non-null  object
 6   COLLISION_TYPE_DESC  1433130 non-null  object
 7   SURF_COND_DESC       1433130 non-null  object
 8   RD_COND_DESC         1433130 non-null  object
 9   RD_DIV_DESC          1433130 non-null  object
 10  FIX_OBJ_DESC         1433130 non-null  object
 11  WEATHER_DESC         1433130 non-null  object
 12  ACC_DATE             1433130 non-null  int64
 13  ACC_TIME             1433130 non-null  object
 14  HARM_EVENT_DESC1     1433130 non-null  object
 15  HARM_EVENT_DESC2     1433130 non-null  object
 16  DISTANCE_DIR_FLAG    1433130 non-null  object
 17  LATITUDE             1433130 non-null  float64
 18  LONGITUDE            1433130 non-null  float64
 19  REPORT_TYPE          1433130 non-null  object
 20  VEH_MAKE             1433130 non-null  object
 21  DAMAGE_DESC          1433130 non-null  object
 22  COMMERCIAL_FLAG      1433130 non-null  object
 23  BODY_TYPE_DESC       1433130 non-null  object
 24  FIRE_FLAG            1433130 non-null  object
 25  PARKED_FLAG          1433130 non-null  object
 26  SPEED_LIMIT          1433130 non-null  int64
 27  HIT_AND_RUN_FLAG     1433130 non-null  object
 28  MOVEMENT_DESC        1433130 non-null  object
dtypes: float64(2), int64(3), object(24)
memory usage: 328.0+ MB

# Work on DF_People

In [111]:
df_people.sample(4)

,SEX_DESC,SEX_CODE,CONDITION_DESC,CONDITION_CODE,INJ_SEVER_DESC,INJ_SEVER_CODE,REPORT_NO,OCC_SEAT_POS_DESC,OCC_SEAT_POS_CODE,PED_VISIBLE_DESC,PED_VISIBLE_CODE,PED_OBEY_DESC,PED_OBEY_CODE,PED_TYPE_DESC,PED_TYPE_CODE,PED_LOCATION_CODE,MOVEMENT_DESC,MOVEMENT_CODE,PERSON_TYPE_DESC,PERSON_TYPE,ALCOHOL_TEST_DESC,ALCOHOL_TEST_CODE,ALCOHOL_TESTTYPE_DESC,ALCOHOL_TESTTYPE_CODE,DRUG_TEST_DESC,DRUG_TEST_CODE,DRUG_TESTRESULT_DESC,DRUG_TESTRESULT_CODE,BAC_CODE,FAULT_FLAG_DESC,FAULT_FLAG,EQUIP_PROB_DESC,EQUIP_PROB_CODE,SAF_EQUIP_DESC,SAF_EQUIP_CODE,EJECT_DESC,EJECT_CODE,DATE_OF_BIRTH,PERSON_ID,LICENSE_STATE_CODE,CLASS,CDL_FLAG_DESC,CDL_FLAG,VEHICLE_ID,EMS_UNIT_LABEL,AIRBAG_DEPLOYED,YEAR,Quarter
1525710,Male,M,Apparently Normal,1.0,Non-incapacitating Injury,2.0,ADI002005T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Driver,D,Not Applicable,0.0,NaN,NaN,Not Applicable,0.0,NaN,NaN,NaN,True,Y,No Misuse,1.0,Shoulder/Lap Belt(s),13.0,Not Applicable,0.0,20000531,fb1e8bf8-23bd-42c5-85e9-eab57ced3034,MD,C,False,False,ae871e80-feba-4a0b-901d-3e09926b9411,NaN,4.0,2021,Q1
652008,Female,F,Apparently Normal,1.0,No Injury,1.0,MCP27360035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Driver,D,Not Applicable,0.0,NaN,NaN,Not Applicable,0.0,NaN,NaN,NaN,True,Y,No Misuse,1.0,Shoulder/Lap Belt(s),13.0,Not Ejected/Trapped,1.0,21-JUL-34,1605f3b6-733a-4e84-b733-18e446a225d1,MD,NaN,False,False,7903cac3-0cde-4ce0-8470-dbbf96b4640b,NaN,NaN,2015,Q4
842596,Female,F,NaN,NaN,No Injury,1.0,MCP94160006,Right Front Seat,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Occupant,O,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Misuse,1.0,Shoulder/Lap Belt(s),13.0,Not Ejected/Trapped,1.0,25-SEP-84 00:00:00,54cf4c6c-995d-4c0e-9c76-8610fb8d03cd,NaN,NaN,NaN,NaN,5e7d329d-4f84-4d70-a450-550b0d520c49,NaN,1.0,2016,Q3
1507306,Female,F,Apparently Normal,1.0,No Injury,1.0,ZU7852004J,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Driver,D,Not Applicable,0.0,NaN,NaN,Not Applicable,0.0,NaN,NaN,NaN,False,N,No Misuse,1.0,Shoulder/Lap Belt(s),13.0,Not Ejected/Trapped,1.0,19991025,74c658b3-f9b8-4057-a93f-78b8e1ef8e8f,MD,C,False,False,72377d7a-6f63-41e1-b43c-11b651cd8687,NaN,1.0,2021,Q1

## Choose columns to keep

In [112]:
cols_to_keep_peep = ['REPORT_NO', 'SEX_CODE', 'CONDITION_DESC', 'INJ_SEVER_DESC', 'PERSON_TYPE', 'ALCOHOL_TEST_DESC', 'ALCOHOL_TESTTYPE_DESC', 'DRUG_TEST_DESC', 'DRUG_TESTRESULT_DESC', 'FAULT_FLAG', 'EQUIP_PROB_DESC', 'EJECT_DESC', 'LICENSE_STATE_CODE', 'AIRBAG_DEPLOYED']

In [113]:
df_people_clean = df_people[cols_to_keep_peep]

In [114]:
df_people_clean.head(3)

,REPORT_NO,SEX_CODE,CONDITION_DESC,INJ_SEVER_DESC,PERSON_TYPE,ALCOHOL_TEST_DESC,ALCOHOL_TESTTYPE_DESC,DRUG_TEST_DESC,DRUG_TESTRESULT_DESC,FAULT_FLAG,EQUIP_PROB_DESC,EJECT_DESC,LICENSE_STATE_CODE,AIRBAG_DEPLOYED
0,AE59920005,F,Apparently Normal,No Injury,D,Not Applicable,NaN,Not Applicable,NaN,N,Not Applicable,Not Applicable,MD,0.0
1,DA40650004,M,NaN,Non-incapacitating Injury,O,NaN,NaN,NaN,NaN,NaN,Not Applicable,Not Ejected/Trapped,NaN,1.0
2,ZU7729000P,F,NaN,Possible Incapacitating Injury,O,NaN,NaN,NaN,NaN,NaN,No Misuse,Not Ejected/Trapped,NaN,1.0

In [115]:
df_people_clean = df_people_clean.fillna('Unknown')

In [116]:
df_people_clean.head(3)

,REPORT_NO,SEX_CODE,CONDITION_DESC,INJ_SEVER_DESC,PERSON_TYPE,ALCOHOL_TEST_DESC,ALCOHOL_TESTTYPE_DESC,DRUG_TEST_DESC,DRUG_TESTRESULT_DESC,FAULT_FLAG,EQUIP_PROB_DESC,EJECT_DESC,LICENSE_STATE_CODE,AIRBAG_DEPLOYED
0,AE59920005,F,Apparently Normal,No Injury,D,Not Applicable,Unknown,Not Applicable,Unknown,N,Not Applicable,Not Applicable,MD,0.0
1,DA40650004,M,Unknown,Non-incapacitating Injury,O,Unknown,Unknown,Unknown,Unknown,Unknown,Not Applicable,Not Ejected/Trapped,Unknown,1.0
2,ZU7729000P,F,Unknown,Possible Incapacitating Injury,O,Unknown,Unknown,Unknown,Unknown,Unknown,No Misuse,Not Ejected/Trapped,Unknown,1.0

## Cleaning columns before join

### SEX_CODE

In [117]:
df_people_clean.SEX_CODE.value_counts()

M          1023730
F           776384
Unknown     152087
U            17906
Name: SEX_CODE, dtype: int64

In [118]:
df_people_clean['SEX_CODE'] = df_people_clean['SEX_CODE'].replace(['U', 'Unknown'], 'U')

In [119]:
df_people_clean.SEX_CODE.value_counts()

M    1023730
F     776384
U     169993
Name: SEX_CODE, dtype: int64

### CONDITION_DESC

In [120]:
df_people_clean.CONDITION_DESC.value_counts()

Apparently Normal    1200285
Unknown               606199
Not Applicable        102743
Had Been Drinking      38368
Using Drugs             6778
Other Handicaps         6442
Fatigued Fainted        2904
Apparently Asleep       2491
Ill                     2119
Physical Defects        1778
Name: CONDITION_DESC, dtype: int64

In [121]:
df_people_clean['CONDITION_DESC'] = df_people_clean['CONDITION_DESC'].replace(['Not Applicable', 'Unknown'], 'Other')

In [122]:
df_people_clean.CONDITION_DESC.value_counts()

Apparently Normal    1200285
Other                 708942
Had Been Drinking      38368
Using Drugs             6778
Other Handicaps         6442
Fatigued Fainted        2904
Apparently Asleep       2491
Ill                     2119
Physical Defects        1778
Name: CONDITION_DESC, dtype: int64

### INJ_SEVER_DESC

In [123]:
df_people_clean.INJ_SEVER_DESC.value_counts()

No Injury                         1606538
Non-incapacitating Injury          193534
Possible Incapacitating Injury     142722
Incapacitating/Disabled Injury      23495
Fatal Injury                         3817
Unknown                                 1
Name: INJ_SEVER_DESC, dtype: int64

### PERSON_TYPE

In [124]:
df_people_clean.PERSON_TYPE.value_counts()

D    1477347
O     457389
P      35371
Name: PERSON_TYPE, dtype: int64

### ALCOHOL_TEST_DESC

In [125]:
df_people_clean.ALCOHOL_TEST_DESC.value_counts()

Not Applicable               1448115
Unknown                       477946
Test Refused                   17333
Evidence Test Given            16620
Positive Preliminary Test       7334
Other                           2759
Name: ALCOHOL_TEST_DESC, dtype: int64

In [126]:
df_people_clean['ALCOHOL_TEST_DESC'] = df_people_clean['ALCOHOL_TEST_DESC'].replace(['Unknown', 'Other'], 'Other')

In [127]:
df_people_clean.ALCOHOL_TEST_DESC.value_counts()

Not Applicable               1448115
Other                         480705
Test Refused                   17333
Evidence Test Given            16620
Positive Preliminary Test       7334
Name: ALCOHOL_TEST_DESC, dtype: int64

### ALCOHOL_TESTTYPE_DESC

In [128]:
df_people_clean.ALCOHOL_TESTTYPE_DESC.value_counts()

Unknown           1936343
Breath              21108
Not Applicable       6792
Blood                4286
Other                1491
Urine                  87
Name: ALCOHOL_TESTTYPE_DESC, dtype: int64

In [129]:
df_people_clean['ALCOHOL_TESTTYPE_DESC'] = df_people_clean['ALCOHOL_TESTTYPE_DESC'].replace(['Unknown', 'Other'], 'Unknown')

In [130]:
df_people_clean.ALCOHOL_TESTTYPE_DESC.value_counts()

Unknown           1937834
Breath              21108
Not Applicable       6792
Blood                4286
Urine                  87
Name: ALCOHOL_TESTTYPE_DESC, dtype: int64

### DRUG_TEST_DESC

In [131]:
df_people_clean.DRUG_TEST_DESC.value_counts()

Not Applicable               1480984
Unknown                       477467
Test Refused                    6752
Evidence Test Given             2746
Other                           1573
Positive Preliminary Test        585
Name: DRUG_TEST_DESC, dtype: int64

In [132]:
df_people_clean['DRUG_TEST_DESC'] = df_people_clean['DRUG_TEST_DESC'].replace(['Unknown', 'Other'], 'Unknown')

In [133]:
df_people_clean.DRUG_TEST_DESC.value_counts()

Not Applicable               1480984
Unknown                       479040
Test Refused                    6752
Evidence Test Given             2746
Positive Preliminary Test        585
Name: DRUG_TEST_DESC, dtype: int64

### DRUG_TESTRESULT_DESC

In [134]:
df_people_clean.DRUG_TESTRESULT_DESC.value_counts()

Unknown           1965367
Not Applicable       3385
Positive              960
Negative              395
Name: DRUG_TESTRESULT_DESC, dtype: int64

### FAULT_FLAG

In [135]:
df_people_clean.FAULT_FLAG.value_counts()

Y          801281
N          638169
Unknown    459534
U           71123
Name: FAULT_FLAG, dtype: int64

In [136]:
df_people_clean['FAULT_FLAG'] = df_people_clean['FAULT_FLAG'].replace(['Unknown', 'U'], 'U')

In [137]:
df_people_clean.FAULT_FLAG.value_counts()

Y    801281
N    638169
U    530657
Name: FAULT_FLAG, dtype: int64

### EQUIP_PROB_DESC

In [138]:
df_people_clean.EQUIP_PROB_DESC.value_counts()

No Misuse               1271563
Not Applicable           473785
Unknown                  219439
Air Bag Failed             1801
Other                      1367
Belt(s) Misused             919
Size/Type Improper          288
Not Strapped Right          250
Facing Wrong Way            169
Not Anchored Right          168
Belts/Anchors Broken        163
Strap/Tether Loose          108
Anchor Not Secure            87
Name: EQUIP_PROB_DESC, dtype: int64

In [139]:
df_people_clean['EQUIP_PROB_DESC'] = df_people_clean['EQUIP_PROB_DESC'].replace(['Belt(s) Misused', 'Size/Type Improper', 'Not Strapped Right', 'Facing Wrong Way', 'Not Anchored Right', 'Anchor Not Secure'], 'improper_use')
df_people_clean['EQUIP_PROB_DESC'] = df_people_clean['EQUIP_PROB_DESC'].replace(['Belts/Anchors Broken', 'Strap/Tether Loose', 'Other'], 'Other')

In [140]:
df_people_clean.EQUIP_PROB_DESC.value_counts()

No Misuse         1271563
Not Applicable     473785
Unknown            219439
improper_use         1881
Air Bag Failed       1801
Other                1638
Name: EQUIP_PROB_DESC, dtype: int64

### EJECT_DESC

In [141]:
df_people_clean.EJECT_DESC.value_counts()

Not Ejected/Trapped    1701937
Not Applicable          177907
Unknown                  65283
Trapped                  13739
Fully Ejected             8036
Other                     1788
Partially Ejected         1417
Name: EJECT_DESC, dtype: int64

In [142]:
#df_people_clean['EJECT_DESC'] = df_people_clean['EJECT_DESC'].replace(['Belts/Anchors Broken', 'Strap/Tether Loose', 'Other'], 'Other')

### LICENSE_STATE_CODE

In [143]:
df_people_clean.LICENSE_STATE_CODE.value_counts()

MD         1146118
Unknown     628650
VA           35579
PA           32837
DC           29547
            ...
AS               6
NU               5
NT               4
NF               4
PW               2
Name: LICENSE_STATE_CODE, Length: 79, dtype: int64

### AIRBAG_DEPLOYED

In [144]:
df_people_clean.AIRBAG_DEPLOYED.value_counts()

1.0        1117526
Unknown     268616
0.0         187498
2.0         173142
4.0         125726
99.0         53900
3.0          35466
5.0           6867
88.0          1366
Name: AIRBAG_DEPLOYED, dtype: int64

In [145]:
mapping = {'Unknown': 99,
           1.0: 0,
           0.0: 99,
           2.0: 1,
           4.0: 1,
           99.0: 99,
           3.0: 1,
           5.0: 1,
           88.0: 1}

In [146]:
df_people_clean['AIRBAG_DEPLOYED'] = df_people_clean['AIRBAG_DEPLOYED'].map(mapping)

In [147]:
df_people_clean.AIRBAG_DEPLOYED.value_counts()

0     1117526
99     510014
1      342567
Name: AIRBAG_DEPLOYED, dtype: int64

# Merging df_people_clean with the dataframe combined earlier

In [148]:
df_sum_car_people = pd.merge(df_summary_cars, df_people_clean, how = 'inner', on='REPORT_NO')

In [149]:
df_sum_car_people.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3573723 entries, 0 to 3573722
Data columns (total 42 columns):
 #   Column                 Dtype
---  ------                 -----
 0   REPORT_NO              object
 1   YEAR                   int64
 2   QUARTER                object
 3   LIGHT_DESC             object
 4   COUNTY_DESC            object
 5   JUNCTION_DESC          object
 6   COLLISION_TYPE_DESC    object
 7   SURF_COND_DESC         object
 8   RD_COND_DESC           object
 9   RD_DIV_DESC            object
 10  FIX_OBJ_DESC           object
 11  WEATHER_DESC           object
 12  ACC_DATE               int64
 13  ACC_TIME               object
 14  HARM_EVENT_DESC1       object
 15  HARM_EVENT_DESC2       object
 16  DISTANCE_DIR_FLAG      object
 17  LATITUDE               float64
 18  LONGITUDE              float64
 19  REPORT_TYPE            object
 20  VEH_MAKE               object
 21  DAMAGE_DESC            object
 22  COMMERCIAL_FLAG        object
 23  BODY_TYPE_DESC         object
 24  FIRE_FLAG              object
 25  PARKED_FLAG            object
 26  SPEED_LIMIT            int64
 27  HIT_AND_RUN_FLAG       object
 28  MOVEMENT_DESC          object
 29  SEX_CODE               object
 30  CONDITION_DESC         object
 31  INJ_SEVER_DESC         object
 32  PERSON_TYPE            object
 33  ALCOHOL_TEST_DESC      object
 34  ALCOHOL_TESTTYPE_DESC  object
 35  DRUG_TEST_DESC         object
 36  DRUG_TESTRESULT_DESC   object
 37  FAULT_FLAG             object
 38  EQUIP_PROB_DESC        object
 39  EJECT_DESC             object
 40  LICENSE_STATE_CODE     object
 41  AIRBAG_DEPLOYED        int64
dtypes: float64(2), int64(4), object(36)
memory usage: 1.1+ GB

# Turning combined dataframe into CSV

In [150]:
#df_sum_car_people.to_csv('../Data/df_combined_copy.csv', index=False, header=True)

# Cut out features for model of most common profile of fatal accident drivers

# Cut out more feature for classification testing

In [151]:
df_sum_car_people.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3573723 entries, 0 to 3573722
Data columns (total 42 columns):
 #   Column                 Dtype
---  ------                 -----
 0   REPORT_NO              object
 1   YEAR                   int64
 2   QUARTER                object
 3   LIGHT_DESC             object
 4   COUNTY_DESC            object
 5   JUNCTION_DESC          object
 6   COLLISION_TYPE_DESC    object
 7   SURF_COND_DESC         object
 8   RD_COND_DESC           object
 9   RD_DIV_DESC            object
 10  FIX_OBJ_DESC           object
 11  WEATHER_DESC           object
 12  ACC_DATE               int64
 13  ACC_TIME               object
 14  HARM_EVENT_DESC1       object
 15  HARM_EVENT_DESC2       object
 16  DISTANCE_DIR_FLAG      object
 17  LATITUDE               float64
 18  LONGITUDE              float64
 19  REPORT_TYPE            object
 20  VEH_MAKE               object
 21  DAMAGE_DESC            object
 22  COMMERCIAL_FLAG        object
 23  BODY_TYPE_DESC         object
 24  FIRE_FLAG              object
 25  PARKED_FLAG            object
 26  SPEED_LIMIT            int64
 27  HIT_AND_RUN_FLAG       object
 28  MOVEMENT_DESC          object
 29  SEX_CODE               object
 30  CONDITION_DESC         object
 31  INJ_SEVER_DESC         object
 32  PERSON_TYPE            object
 33  ALCOHOL_TEST_DESC      object
 34  ALCOHOL_TESTTYPE_DESC  object
 35  DRUG_TEST_DESC         object
 36  DRUG_TESTRESULT_DESC   object
 37  FAULT_FLAG             object
 38  EQUIP_PROB_DESC        object
 39  EJECT_DESC             object
 40  LICENSE_STATE_CODE     object
 41  AIRBAG_DEPLOYED        int64
dtypes: float64(2), int64(4), object(36)
memory usage: 1.1+ GB

In [152]:
df_classification = df_sum_car_people.drop(['REPORT_NO', 'YEAR', 'QUARTER', 'COUNTY_DESC', 'ACC_DATE', 'ACC_TIME', 'LATITUDE', 'LONGITUDE', 'VEH_MAKE'], axis = 1)

In [153]:
df_classification.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3573723 entries, 0 to 3573722
Data columns (total 33 columns):
 #   Column                 Dtype
---  ------                 -----
 0   LIGHT_DESC             object
 1   JUNCTION_DESC          object
 2   COLLISION_TYPE_DESC    object
 3   SURF_COND_DESC         object
 4   RD_COND_DESC           object
 5   RD_DIV_DESC            object
 6   FIX_OBJ_DESC           object
 7   WEATHER_DESC           object
 8   HARM_EVENT_DESC1       object
 9   HARM_EVENT_DESC2       object
 10  DISTANCE_DIR_FLAG      object
 11  REPORT_TYPE            object
 12  DAMAGE_DESC            object
 13  COMMERCIAL_FLAG        object
 14  BODY_TYPE_DESC         object
 15  FIRE_FLAG              object
 16  PARKED_FLAG            object
 17  SPEED_LIMIT            int64
 18  HIT_AND_RUN_FLAG       object
 19  MOVEMENT_DESC          object
 20  SEX_CODE               object
 21  CONDITION_DESC         object
 22  INJ_SEVER_DESC         object
 23  PERSON_TYPE            object
 24  ALCOHOL_TEST_DESC      object
 25  ALCOHOL_TESTTYPE_DESC  object
 26  DRUG_TEST_DESC         object
 27  DRUG_TESTRESULT_DESC   object
 28  FAULT_FLAG             object
 29  EQUIP_PROB_DESC        object
 30  EJECT_DESC             object
 31  LICENSE_STATE_CODE     object
 32  AIRBAG_DEPLOYED        int64
dtypes: int64(2), object(31)
memory usage: 927.0+ MB

In [154]:
df_class1 = df_classification.copy()

In [155]:
df_class1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3573723 entries, 0 to 3573722
Data columns (total 33 columns):
 #   Column                 Dtype
---  ------                 -----
 0   LIGHT_DESC             object
 1   JUNCTION_DESC          object
 2   COLLISION_TYPE_DESC    object
 3   SURF_COND_DESC         object
 4   RD_COND_DESC           object
 5   RD_DIV_DESC            object
 6   FIX_OBJ_DESC           object
 7   WEATHER_DESC           object
 8   HARM_EVENT_DESC1       object
 9   HARM_EVENT_DESC2       object
 10  DISTANCE_DIR_FLAG      object
 11  REPORT_TYPE            object
 12  DAMAGE_DESC            object
 13  COMMERCIAL_FLAG        object
 14  BODY_TYPE_DESC         object
 15  FIRE_FLAG              object
 16  PARKED_FLAG            object
 17  SPEED_LIMIT            int64
 18  HIT_AND_RUN_FLAG       object
 19  MOVEMENT_DESC          object
 20  SEX_CODE               object
 21  CONDITION_DESC         object
 22  INJ_SEVER_DESC         object
 23  PERSON_TYPE            object
 24  ALCOHOL_TEST_DESC      object
 25  ALCOHOL_TESTTYPE_DESC  object
 26  DRUG_TEST_DESC         object
 27  DRUG_TESTRESULT_DESC   object
 28  FAULT_FLAG             object
 29  EQUIP_PROB_DESC        object
 30  EJECT_DESC             object
 31  LICENSE_STATE_CODE     object
 32  AIRBAG_DEPLOYED        int64
dtypes: int64(2), object(31)
memory usage: 927.0+ MB

In [156]:
df_classification.REPORT_TYPE.value_counts()

Property Damage Crash    2308085
Injury Crash             1245609
Fatal Crash                20029
Name: REPORT_TYPE, dtype: int64

In [157]:
# Moving REPORT_TYPE column to the end of the dataframe

col_name = 'REPORT_TYPE'

column_vals = df_class1.pop(col_name)

df_class1[col_name] = column_vals

In [158]:
df_class1.nunique()

LIGHT_DESC                6
JUNCTION_DESC             8
COLLISION_TYPE_DESC       7
SURF_COND_DESC            4
RD_COND_DESC              5
RD_DIV_DESC               5
FIX_OBJ_DESC              9
WEATHER_DESC              7
HARM_EVENT_DESC1         10
HARM_EVENT_DESC2          9
DISTANCE_DIR_FLAG         5
DAMAGE_DESC               6
COMMERCIAL_FLAG           2
BODY_TYPE_DESC           12
FIRE_FLAG                 4
PARKED_FLAG               2
SPEED_LIMIT              16
HIT_AND_RUN_FLAG          3
MOVEMENT_DESC            13
SEX_CODE                  3
CONDITION_DESC            9
INJ_SEVER_DESC            6
PERSON_TYPE               3
ALCOHOL_TEST_DESC         5
ALCOHOL_TESTTYPE_DESC     5
DRUG_TEST_DESC            5
DRUG_TESTRESULT_DESC      4
FAULT_FLAG                3
EQUIP_PROB_DESC           6
EJECT_DESC                7
LICENSE_STATE_CODE       79
AIRBAG_DEPLOYED           3
REPORT_TYPE               3
dtype: int64

In [159]:
dfclass1 = df_class1.drop(['LICENSE_STATE_CODE', 'SPEED_LIMIT'], axis = 1)

# Predict Fatal Crash Class

In [160]:
dfclass1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3573723 entries, 0 to 3573722
Data columns (total 31 columns):
 #   Column                 Dtype
---  ------                 -----
 0   LIGHT_DESC             object
 1   JUNCTION_DESC          object
 2   COLLISION_TYPE_DESC    object
 3   SURF_COND_DESC         object
 4   RD_COND_DESC           object
 5   RD_DIV_DESC            object
 6   FIX_OBJ_DESC           object
 7   WEATHER_DESC           object
 8   HARM_EVENT_DESC1       object
 9   HARM_EVENT_DESC2       object
 10  DISTANCE_DIR_FLAG      object
 11  DAMAGE_DESC            object
 12  COMMERCIAL_FLAG        object
 13  BODY_TYPE_DESC         object
 14  FIRE_FLAG              object
 15  PARKED_FLAG            object
 16  HIT_AND_RUN_FLAG       object
 17  MOVEMENT_DESC          object
 18  SEX_CODE               object
 19  CONDITION_DESC         object
 20  INJ_SEVER_DESC         object
 21  PERSON_TYPE            object
 22  ALCOHOL_TEST_DESC      object
 23  ALCOHOL_TESTTYPE_DESC  object
 24  DRUG_TEST_DESC         object
 25  DRUG_TESTRESULT_DESC   object
 26  FAULT_FLAG             object
 27  EQUIP_PROB_DESC        object
 28  EJECT_DESC             object
 29  AIRBAG_DEPLOYED        int64
 30  REPORT_TYPE            object
dtypes: int64(1), object(30)
memory usage: 872.5+ MB

In [175]:
dfclass1.ALCOHOL_TESTTYPE_DESC.value_counts()

Unknown           3525429
Breath              31883
Not Applicable      10341
Blood                5946
Urine                 124
Name: ALCOHOL_TESTTYPE_DESC, dtype: int64

In [177]:
dfclass1.sample(5)

,LIGHT_DESC,JUNCTION_DESC,COLLISION_TYPE_DESC,SURF_COND_DESC,RD_COND_DESC,RD_DIV_DESC,FIX_OBJ_DESC,WEATHER_DESC,HARM_EVENT_DESC1,HARM_EVENT_DESC2,DISTANCE_DIR_FLAG,DAMAGE_DESC,COMMERCIAL_FLAG,BODY_TYPE_DESC,FIRE_FLAG,PARKED_FLAG,HIT_AND_RUN_FLAG,MOVEMENT_DESC,SEX_CODE,CONDITION_DESC,INJ_SEVER_DESC,PERSON_TYPE,ALCOHOL_TEST_DESC,ALCOHOL_TESTTYPE_DESC,DRUG_TEST_DESC,DRUG_TESTRESULT_DESC,FAULT_FLAG,EQUIP_PROB_DESC,EJECT_DESC,AIRBAG_DEPLOYED,REPORT_TYPE
3202525,Daylight,intersection,same_direction_turn,Dry,No Defects,two_way_div,Not Applicable,Cloudy,other,Other Vehicle,E,Functional,N,passenger_car,N,N,N,Moving Constant Speed,M,Apparently Normal,No Injury,D,Not Applicable,Unknown,Not Applicable,Unknown,N,No Misuse,Not Ejected/Trapped,0,Injury Crash
240570,Daylight,intersection,angle_meets_misc,Dry,No Defects,one_way,Not Applicable,other,Other Vehicle,Pedestrian,E,Disabling,N,passenger_car,Unknown,N,N,Moving Constant Speed,F,Other,Incapacitating/Disabled Injury,P,Not Applicable,Unknown,Not Applicable,Unknown,N,Unknown,Unknown,99,Injury Crash
3409362,Daylight,intersection,angle_meets_misc,Wet,No Defects,one_way,Not Applicable,Raining,Other Vehicle,Not Applicable,N,Superficial,N,passenger_car,N,N,Y,Moving Constant Speed,M,Apparently Normal,No Injury,D,Not Applicable,Unknown,Not Applicable,Unknown,Y,Not Applicable,Not Ejected/Trapped,0,Property Damage Crash
1586750,Daylight,intersection,same_direction,Dry,No Defects,two_way_div,Not Applicable,other,other,Other Vehicle,E,Destroyed,N,passenger_car,N,N,N,Moving Constant Speed,F,Apparently Normal,Non-incapacitating Injury,D,Not Applicable,Unknown,Not Applicable,Unknown,N,No Misuse,Not Ejected/Trapped,0,Injury Crash
3206486,Daylight,intersection,same_direction,Dry,No Defects,two_way_div,Not Applicable,Clear,other,Other Vehicle,E,Functional,N,Van,N,N,N,not_in_motion,M,Other,Non-incapacitating Injury,O,Other,Unknown,Unknown,Unknown,U,No Misuse,Not Ejected/Trapped,0,Injury Crash

In [168]:
dfclass1.shape

(3573723, 31)

In [167]:
dfclass1.REPORT_TYPE.value_counts(normalize=True)

Property Damage Crash    0.645849
Injury Crash             0.348547
Fatal Crash              0.005605
Name: REPORT_TYPE, dtype: float64